@import "./_setting.scss";

$list-bg-color: #ebecf0;
$common-element-bg: rgba(255, 255, 255, 0.24);

$column-header-height: 46px;
$column-footer-height: 46px;
$column-border-radius: 5px;
$card-border-radius: 4px;

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.trello-master {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  line-height: 1.3em;
  background-color: $board-bg-color;
}
