@import "./_setting.scss";

$list-bg-color: #ebecf0;
$common-element-bg: rgba(255, 255, 255, 0.24);

$column-header-height: 46px;
$column-footer-height: 46px;
$column-border-radius: 5px;
$card-border-radius: 4px;

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.trello-master {
  height: 100vh;
  overflow: hidden;
  background-color: $board-bg-color;
  color: $app-main-text-color;

  .icon {
    font-size: 14px;
    margin-right: 3px;
  }
}
